body {
	font-size: 62.5%;
	background-image: url(images/newsletterbgi.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	font-family: Georgia, "Times New Roman", Times, serif;
}

#container {margin: 10px auto;
            width: 729px;
			font-size: 1.2em;}

#header-{
	background-image: url(images/header_bg.jpg);
	height: 186px;
	width: 670px;
	padding-top: 214px;
	padding-left: 59px;
}

#content_top {
	background-image: url(images/content_top.jpg);
	height: 120px;
	width: 529px;
	text-align: center;
	padding-top: 25px;
	padding-left: 100px;
	padding-right: 100px;
}


#content {
	background-image: url(images/content_tile.jpg);
	background-repeat: repeat-y;
	padding-left: 60px;
    padding-right: 60px;	
}

#footer {
	background-image: url(images/footer.jpg);
	background-repeat: no-repeat;
	height: 211px;
	text-align: center;
}

/********************************** Text formatting *****************/


p {
   padding-bottom: 25px;
}


p.text:first-letter
{
font-size: 2.5em;
padding: 0.143em;
float: left;
}

.footertxt {
	padding-top: 180px;
	color: #F1DBC6;
}

h2 {
	font-weight: bold;
	padding: 10px;
	color: #673711;
	font-size: 1.2em;
}

/*************************** Hyperlinks ***********************/

a:link {color: #F1DBC6}     /* unvisited link */
a:visited {color: #F1DBC6}  /* visited link */
a:hover {color: #FFCC66}   /* mouse over link */
a:active {color: #FFFFFF}   /* selected link */

/***************************  Navigation **********************/


/*Dropdown */ 

.dropbase span {
	font-size: 18px;
	
}

.dropbase {
	position: relative;
	display: block;
}

.dropbase:hover .dropcontent {
	display: block;
}

.dropcontent{
	display: none;
	position: absolute;
	background-color: yellow;
	min-width: 150px;
	color: black;
}

.dropcontent a {
	display: block;
	text-decoration: none;
}

/*Dropdown */ 

#navlist
{

	position: relative;
	right: 0px;
	top: 63px;
	height: 72px;
}
#navlist ul
{
	
	text-decoration: none;
	margin-left: 4px;
	margin-right: 4px;
	padding: 8px 8px 8px 8px;

	list-style-type: none;
}

#navlist li {
	display: inline;
}
#navlist li a {
 	color: #fec709;
	height: 47px;
	padding: 25px 8px 0px 8px;
	font-size: 20px;
	display: block;
	text-decoration: none;
	background-color: aquamarine;
}
/*#navlist li a:hover{ color: #fec709; }

#navlist li.current_page_item{

	color:#fec709;
}

#navlist li.current_page_item a{
 	color:#fec709;; 
}
 sub nav 

#navlist li ul{
	padding:0px;
	background: #fec709;
}
*/

/*

#navlist li ul li{
	padding: 0px;
	margin: 0px;
	border-bottom: 1px solid #fff;
}

#navlist li ul li:last-child{
	border-bottom: none;
}

#navlist li ul li a{
	padding: 10px;
	margin: 0px;
	font-size: 14px;
	color: #1f1f1f;
}

#navlist li ul li:hover{ 
	background: #1f1f1f; 
}

#navlist li ul li:hover a{ 
	color: #fec709; 
}
*/
/************************************ Image Headings ******************************/

#heading_piano {
	background-image: url(images/heading_the_piano.png);
	height: 40px;
	background-repeat: no-repeat;
	background-position: center;
}


#heading_about {
	background-image: url(images/heading_about.png);
	height: 40px;
	background-repeat: no-repeat;
	background-position: center;
}

#heading_ipsum {
	background-image: url(images/heading_headings.png);
	height: 40px;
	background-repeat: no-repeat;
	background-position: center;
}

.invisible_headings {
	margin-left: -3000px; /* This is used to remove the original heading*/
}
